<% if user_signed_in? %>
  <h1>Automatic Delivery Order</h1>
  <p><%= link_to "新しくアカウントを追加する", new_account_path %></p>
  <h2>アカウント一覧</h2>
  <% @account_data.each do |key,val| %>
    <div class="row">
      <div class="col-md-4"><%= key %></div>
      <div class="col-md-8">
        <ol>
        <% val.each do |v| %>
          <li>
            <a href="/accounts/<%= v.id %>"><%= v.email %> [<%= v.code %>]</a>
          </li>
        <% end %>
        </ol>
      </div>
    </div>
  <% end %>

<% else %>
  <h1>Automatic Delivery Order</h1>
  <p>新規登録するかログインしてください。</p>
  <p><%= link_to "新規登録", "/users/sign_up"  %></p>
  <p><%= link_to "ログイン", "/users/sign_in"  %></p>
<% end%>