<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @site.site_id %>
</p>

<p>
  <strong>Site name:</strong>
  <%= @site.site_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
