<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label> サイトの注文するアカウントのメールアドレス</label>
    <% @site_list.each do |site| %>
      <label><%= f.radio_button :site_id, site.id %><%= site.name %></label>
    <% end %>
  </div>
  <div class="field">
    <label>注文APIで使用する識別コード名</label>
    <%= f.text_field :code %>
  </div>

<h4>以下　サイトの注文するアカウント情報</h4>
  <div class="field">
    <label> メールアドレス</label>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <label> パスワード</label>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <label> パスワード再入力</label>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>