<%= link_to '戻る', accounts_path %>
<h1><%= @site_name %> [<%= @account.email %>][<%= @account.code %>]</h1>
<%= link_to 'アカウント情報を編集', edit_account_path(@account) %>
<%= link_to '商品リストを取得・更新', account_item_list_path %>
<% @order_lists.each do |order_list| %>
  <h2>No.<%= order_list.sort_num %> <%=  %><%= order_list.name %></h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>注文数</th>
        <th></th>
      </tr>
      <% order_list.order.each do |o|%>
      <tr>
        <td><%= o.item_id %></td>
        <td>商品名</td>
        <td><%= o.item_num %></td>
        <td><a href="<%= request.url %>#<%= o.item_id %>">商品詳細</a></td>
      </tr>
      <% end %>
    </table>
  </div>
<div class="button-area">
  <a href="/order_lists/<%= order_list.id %>">リストNo.<%= order_list.sort_num %> 編集</a>
</div>
<% end %>
<% if @item_list.present? %>
<h3>商品リスト <%= @item_list_time %></h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th class="col-sm-1">商品ID</th>
      <th class="col-sm-2">名前</th>
      <th class="col-sm-2">画像</th>
      <th class="col-sm-2">商品情報</th>
      <th class="col-sm-2">値段</th>
      <th class="col-sm-3">説明</th>
    </tr>
    <% @item_list.each do |item|%>
      <tr id="<%= item[0] %>">
        <td><%= item[0] %></td>
        <td><%= item[1]["name"] %></td>
        <td><%= image_tag item[1]["img"], :width => "200" %></td>
        <td><%= item[1]["info"] %></td>
        <td><%= item[1]["price"] %></td>
        <td><%= item[1]["description"] %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>